<% provide(:title, "通知一覧") %>

<div>
  <% current_user.notifications.each do |notification| %>
    <%= link_to post_path(notification.post_id, notification_id: notification.id ) do %>
      <%if notification.already == false %>
        <div class="bg-blue">
          <%= render 'shared/notification_contents', notification: notification %>
        </div>
      <% else %>
        <div class="bg-white">
          <%= render 'shared/notification_contents', notification: notification %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>