<footer>
  <% if user_signed_in? %>
    <%= link_to "投稿する", new_post_path, class: "post-link btn btn-danger" %>
  <% end %>
  <small>Developed by Shuhei Yoshino.</small>
  <ul>
    <li><%= link_to "ホームへ戻る", root_path %></li>
    <li><%= link_to "利用規約", terms_path %></li>
  </ul>
</footer>