<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "InstaClone", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ユーザー名", "#" %></li>
        <li><%= link_to "通知", "#" %></li>
      </ul>
    </nav>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="serch" placeholder="検索" aria-label="serch">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">検索</button>
    </form>
  </div>
</header>
