<div class="relationships">
  <div class="following">
    <strong id="following" class="stat"><%= user.following.count %></strong>フォロー
    <%= render 'shared/following' %>
  </div>
  <div class="followers">
    <strong id="followers" class="stat"><%= user.followers.count %></strong>フォロワー
    <%= render 'shared/followers'%>
  </div>
</div>