@import "jquery.bxslider";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// universal

body {
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 60px;
}

.container {
  padding-top: 100px;
  width: 100%;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// flash

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

// home

.top-contents {
  text-align: center;
  position: relative;
}

.fa-camera {
  font-size: 35em;
  color: skyblue;
  opacity: 0.4;
}

.top-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-block {
  text-align: center;
}

.test-login {
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid, 5px, red;
  background-color: pink;
}

// feed

.slider {
  float: left;
  width: 33.3%;
}

.upper-block {
  a {
    color: #777;
  }
  .user {
    font-size: 1.2em;
  }
  .timestamp {
    font-size: 0.8em;
  }
  .show-details {
    font-size: 0.8em;
  }
  .post-content {
    border: solid, 1px, #777;
  }
}

.feed-avatar {
  float: left;
}


// header

.navbar-fixed-top {
  a {
    color: white;
    float: right;
  }
  .btn {
    margin-left: 10px;
  }
  position: fixed;
  top: 0;
  margin-left: 0;
  width: 100%;
  z-index: 10000;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


// footer

footer {
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 60px;
  .post-link {
    width: 10%;
    font-size: 1.3em;
  }
  small {
    float: left;
    position: relative;
  }
  ul {
    float: right;
    margin-right: 15px;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
  a {
    color: #fff;
  }
}



// user page



// comment

.comment-detail {
  float: left;
}

// like index


// notification index


// terms-of-servise

.wrapHINAGATA {
  border-style: none;
  font-size: 100%;
  list-style: none outside;
  margin: 0;
  padding: 0;
  text-align: left;
}

.like-form {
  label {
    display: none;
  }
}


.facebook-link {
  font-size: 3em;
}

.bg-blue {
  background-color: skyblue;
  z-index: -10;
}