body {
}

.like-form {
  label {
    display: none;
  }
}

.slider {
  float: left;
  max-width: 100%;
  width: 33%;
}

.wrapHINAGATA {
  border-style: none;
  font-size: 100%;
  list-style: none outside;
  margin: 0;
  padding: 0;
  text-align: left;
}

.facebook-link {
  font-size: 3em;
}